https://www.kaggle.com/datasets/acostasg/random-shopping-cart

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import networkx as nx

In [4]:
ruta_data = './DataSetAsociacion/dataset_group.csv'
# Títulos de las columnas
column_names = ['Fecha_Registro', 'ID_Compra', 'Producto']
# Cargar el archivo CSV en un DataFrame con los títulos de las columnas
df = pd.read_csv(ruta_data, names=column_names)
df

      Fecha_Registro  ID_Compra           Producto
0         2000-01-01          1             yogurt
1         2000-01-01          1               pork
2         2000-01-01          1      sandwich bags
3         2000-01-01          1         lunch meat
4         2000-01-01          1       all- purpose
...              ...        ...                ...
22338     2002-02-26       1139               soda
22339     2002-02-26       1139  laundry detergent
22340     2002-02-26       1139         vegetables
22341     2002-02-26       1139            shampoo
22342     2002-02-26       1139         vegetables

[22343 rows x 3 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22343 entries, 0 to 22342
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fecha_Registro  22343 non-null  object
 1   ID_Compra       22343 non-null  int64
 2   Producto        22343 non-null  object
dtypes: int64(1), object(2)
memory usage: 523.8+ KB

In [6]:
# Agrupar los productos por ID_Compra
transactions = df.groupby('ID_Compra')['Producto'].apply(list).values.tolist()

# Inicializar y ajustar el TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)

# Convertir la matriz codificada en un DataFrame
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

# Mostrar el DataFrame codificado
print(df_encoded)

      all- purpose  aluminum foil  bagels   beef  butter  cereals  cheeses  \
0             True           True   False   True    True    False    False
1            False           True   False  False   False     True     True
2            False          False    True  False   False     True     True
3             True          False   False  False   False     True    False
4             True          False   False  False   False    False    False
...            ...            ...     ...    ...     ...      ...      ...
1134          True          False   False   True   False     True     True
1135         False          False   False  False   False     True     True
1136         False          False    True   True   False    False    False
1137          True          False   False   True   False    False     True
1138         False          False   False  False   False    False    False

      coffee/tea  dinner rolls  dishwashing liquid/detergent  ...  shampoo  \
0          False          True                         False  ...     True
1          False         False                          True  ...     True
2          False          True                         False  ...     True
3          False         False                         False  ...    False
4          False          True                         False  ...    False
...          ...           ...                           ...  ...      ...
1134        True          True                          True  ...     True
1135        True          True                          True  ...    False
1136       False          True                          True  ...     True
1137       False         False                         False  ...    False
1138       False         False                         False  ...     True

       soap   soda  spaghetti sauce  sugar  toilet paper  tortillas  \
0      True   True            False  False         False      False
1     False  False            False  False          True       True
2      True   True             True  False          True      False
3     False   True            False  False          True      False
4     False   True             True  False          True       True
...     ...    ...              ...    ...           ...        ...
1134   True  False            False   True         False      False
1135   True  False             True  False         False      False
1136   True  False            False   True         False       True
1137   True   True             True   True          True      False
1138  False   True            False  False         False      False

      vegetables  waffles  yogurt
0           True    False    True
1           True     True    True
2           True    False   False
3          False    False   False
4           True     True    True
...          ...      ...     ...
1134       False    False   False
1135        True    False   False
1136        True    False    True
1137        True     True    True
1138        True    False   False

[1139 rows x 38 columns]

In [7]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1139 entries, 0 to 1138
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   all- purpose                  1139 non-null   bool
 1   aluminum foil                 1139 non-null   bool
 2   bagels                        1139 non-null   bool
 3   beef                          1139 non-null   bool
 4   butter                        1139 non-null   bool
 5   cereals                       1139 non-null   bool
 6   cheeses                       1139 non-null   bool
 7   coffee/tea                    1139 non-null   bool
 8   dinner rolls                  1139 non-null   bool
 9   dishwashing liquid/detergent  1139 non-null   bool
 10  eggs                          1139 non-null   bool
 11  flour                         1139 non-null   bool
 12  fruits                        1139 non-null   bool
 13  hand soap                     1139 non-null   bool
 14  ice cream                     1139 non-null   bool
 15  individual meals              1139 non-null   bool
 16  juice                         1139 non-null   bool
 17  ketchup                       1139 non-null   bool
 18  laundry detergent             1139 non-null   bool
 19  lunch meat                    1139 non-null   bool
 20  milk                          1139 non-null   bool
 21  mixes                         1139 non-null   bool
 22  paper towels                  1139 non-null   bool
 23  pasta                         1139 non-null   bool
 24  pork                          1139 non-null   bool
 25  poultry                       1139 non-null   bool
 26  sandwich bags                 1139 non-null   bool
 27  sandwich loaves               1139 non-null   bool
 28  shampoo                       1139 non-null   bool
 29  soap                          1139 non-null   bool
 30  soda                          1139 non-null   bool
 31  spaghetti sauce               1139 non-null   bool
 32  sugar                         1139 non-null   bool
 33  toilet paper                  1139 non-null   bool
 34  tortillas                     1139 non-null   bool
 35  vegetables                    1139 non-null   bool
 36  waffles                       1139 non-null   bool
 37  yogurt                        1139 non-null   bool
dtypes: bool(38)
memory usage: 42.4 KB

In [8]:
# Aplicar Apriori para encontrar conjuntos frecuentes
frequent_itemsets = apriori(df_encoded, min_support=0.05, use_colnames=True)

# Mostrar los conjuntos frecuentes
print(frequent_itemsets)

        support                                        itemsets
0      0.374890                                  (all- purpose)
1      0.384548                                 (aluminum foil)
2      0.385426                                        (bagels)
3      0.374890                                          (beef)
4      0.367867                                        (butter)
...         ...                                             ...
15744  0.058824            (yogurt, vegetables, waffles, sugar)
15745  0.055312  (toilet paper, tortillas, vegetables, waffles)
15746  0.053556   (toilet paper, yogurt, tortillas, vegetables)
15747  0.064969     (toilet paper, yogurt, vegetables, waffles)
15748  0.059701        (yogurt, tortillas, vegetables, waffles)

[15749 rows x 2 columns]

In [9]:
# Generar reglas de asociación
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)

# Mostrar las reglas
print(rules)

                              antecedents   consequents  antecedent support  \
0                          (all- purpose)  (vegetables)            0.374890
1                         (aluminum foil)  (vegetables)            0.384548
2                                (bagels)  (vegetables)            0.385426
3                                  (beef)  (vegetables)            0.374890
4                                (butter)  (vegetables)            0.367867
...                                   ...           ...                 ...
11265            (yogurt, waffles, sugar)  (vegetables)            0.069359
11266  (toilet paper, tortillas, waffles)  (vegetables)            0.068481
11267   (toilet paper, tortillas, yogurt)  (vegetables)            0.064969
11268     (toilet paper, yogurt, waffles)  (vegetables)            0.082529
11269        (tortillas, yogurt, waffles)  (vegetables)            0.067603

       consequent support   support  confidence      lift  leverage  \
0                0.739245  0.289728    0.772834  1.045437  0.012592
1                0.739245  0.310799    0.808219  1.093304  0.026524
2                0.739245  0.300263    0.779043  1.053836  0.015339
3                0.739245  0.291484    0.777518  1.051773  0.014348
4                0.739245  0.283582    0.770883  1.042798  0.011639
...                   ...       ...         ...       ...       ...
11265            0.739245  0.058824    0.848101  1.147253  0.007550
11266            0.739245  0.055312    0.807692  1.092591  0.004687
11267            0.739245  0.053556    0.824324  1.115090  0.005528
11268            0.739245  0.064969    0.787234  1.064916  0.003960
11269            0.739245  0.059701    0.883117  1.194620  0.009726

       conviction  zhangs_metric
0        1.147860       0.069527
1        1.359651       0.138664
2        1.180118       0.083124
3        1.172025       0.078745
4        1.138087       0.064925
...           ...            ...
11265    1.716637       0.137919
11266    1.355926       0.090974
11267    1.484298       0.110383
11268    1.225549       0.066443
11269    2.230904       0.174726

[11270 rows x 10 columns]

In [13]:
ruta_out = './resultados_association_ShoppingCart.xlsx'

# Guardar los resultados en un archivo Excel
rules.to_excel(ruta_out, index=False)